/* -----fonts family link--- */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
}
h1,h2,h3,h4,h5,h6 p,ol,ul{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
}
:root{
    --ubuntu: "Ubuntu", sans-serif;
    --primary: #42454A;
}
/* ---common head css start----- */
.common_head{
    text-align: center;
}
.common_head h2{
    font-size: 50px;
    font-weight: 700;
    color: var(--primary);
    font-family: var(--ubuntu);
    margin-bottom: 34px;
}
.common_head p{
    font-size: 20px;
    font-weight: 400;
    color: var(--primary);
    font-family: var(--ubuntu);
}
/* ---common head css end----- */
/* ------navber part css start------- */
.main_manu{
    padding: 26px 0;
    border-bottom: 1px solid #EAE8F3;
    text-transform: uppercase;
}
.main_manu img{
    width: 70px;
} 
.main_manu ul{
    gap: 76px;
}
.main_manu ul li a{
    font-size: 14px;
    font-weight: 400;
    font-family: var(--ubuntu);
    color: var(--primary) !important;
    padding: 0 !important;
}
.main_manu .manu_bottons {
    display: flex;
    gap: 24px;
}
.manu_bottons a{
     height: 48px;
     display: flex;
     justify-content: center;
     align-items: center; 
     border-radius: 4px;
     box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
     transition: .3s all linear;
}
.manu_bottons a:nth-child(2){
    width: 102px;
    color: #fff;
    background-color: var(--primary);
}
.manu_bottons a:nth-child(1){
    width: 106px; 
    color: var(--primary);
    background-color: #fff;
}
.manu_bottons a:nth-child(2):hover{
    color: var(--primary);
    background-color: #fff;
}
.manu_bottons a:nth-child(1):hover{
    color: #fff;
    background-color: var(--primary);
}
/* ------navber part css end------- */
/* ------banner  part css start------- */
.banner_text h1{ 
    font-size: 90px;
    font-weight: 300;
    color: var(--primary);
    line-height: 95px;
    letter-spacing: 1%;
    text-transform: uppercase;
}
.banner_text h1 span{
    font-weight: 700;
    font-family: var(--ubuntu);
    display: block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid;
    animation: type 1.7s steps(90) .4s normal both, cursor 1s step-end infinite;
    position: relative;
}

@keyframes type {
    from {
        width: 0;
    }
    
    to {
        width: 52%;
    }
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}
#banner{
    padding-top: 84px;
    position: relative;
}
.banner_text .text_line{
    width: 335px;
    height: 4px;
    background-color: var(--primary);
    margin-top: 93px;
    margin-bottom: 62px;
}
.banner_text p{
    width: 353px;
    font-size: 22px;
    font-weight: 400;
    font-family: var(--ubuntu);
    color: var(--primary);
    line-height: 34px;
    letter-spacing: 1%;
    margin-bottom: 44px;
}
.banner_bttons{
    display: flex;
    gap: 50px;
    align-items: center;
}
.banner_bttons .bye_btn{
    display: flex;
    align-items: center;
    gap: 21px;
    font-size: 20px;
    font-weight: 500;
    font-family: var(--ubuntu);
    color: #17181A;
    line-height: 32px;
    letter-spacing: 2%;
}
.banner_bttons .bye_btn span{
    width: 58px;
    height: 58px;
    font-size: 16px;
    font-weight: 100;
    display: flex;
    padding-left: 20px;
    align-items: center;
    color: #F7EAE3;
    background-color: #42454a47;
}
 .banner_bttons .play{
    width: 80px;
    height: 80px;
    animation: rotate 2s linear infinite;
 }
 .banner_bttons .vidio_open{
    width: 87px;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 1%;
    color: #414449;
    font-family: var(--ubuntu);
 }
#banner .banner_img{
    width: 856px;
    position: absolute;
    top: 31px;
    right: 0;
 }
 @keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
 }
/* ------banner  part css end------- */
 /* <!-- -----counter---part--- css ---start----- */
#count_up{
    padding-top: 209px;
}
 .all_counters{
    display: flex;
    justify-content: center;
}
 .all_counters .single_counter{
    width: 174px;
    height: 137px;
    border: 7px;
    display: flex;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
   flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
}
.single_counter h2{
    font-size: 18px;
    font-weight: 700;
    font-family: var(--ubuntu);
    color: var(--primary);
}
.single_counter span{
    font-size: 40px;
}
.single_counter p{
    font-size: 13px;
    font-weight: 400;
    font-family: var(--ubuntu);
    color: var(--primary);
}
 /* <!-- -----counter---part--- css ---end----- */
 /* <!-- --------product----info------part-----start------ */
 #product_ifo{
    padding-top: 127px;
    padding-bottom: 121px;
    position: relative;
 }
#product_ifo .product_ditels{
    margin-top: 143px;
    display: flex;
    justify-content: flex-end;
}
.product_ditels ul li{
    display: flex;
    gap: 18px;
    align-items: center;
    margin-bottom: 34px;
}
.product_ditels ul li:nth-child(6){
    margin-bottom: 0;
}
.product_ditels ul li img{
    width: 49px;
}
.product_ditels ul li p{
    font-size: 20px;
    font-weight: 400;
    font-family: var(--ubuntu);
    color: var(--primary);
}
#product_ifo .product_info_img{
    position: absolute;
    top: 270px;
    left: 0;
}
/* ----product---info-------part-----end------ */

#motor{
    padding-top: 100px;
}
#motor .motor_img{
    margin-top: 49px;
}
 /* --------motor-------part-----end------ */
/* ----Accessories---info-------part-----start------ */
#Accessories{
    padding-top: 295px;
    position: relative;
}
#Accessories .Accessories_row{
    margin-top: 120px;
    align-items: center;
}
.common_list h2{
    margin-bottom: 33px;
    display:block;
    font-size: 50px;
    font-weight: 700;
    color: var(--primary);
    font-family: var(--ubuntu);
}
.common_list ul li{
    display: flex;
    gap: 18px;
    align-items: center;
    margin-bottom: 33px;
}
.common_list ul li img{
    width: 49px;
}
.common_list ul li p{
    font-size: 20px;
    font-weight: 400;
    font-family: var(--ubuntu);
    color: var(--primary);
}
.common_list ul li:nth-child(4){
    margin-bottom: 0;
}
.rack_list{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 129px;
}
#Accessories .sopping_rack_img{
    width: 779px;
    position: absolute;
    top: 1128px;
    left: 0;
}
.more_Accessories{
    width: 570px;
    height: 94px;
    margin: 0 auto;
    border: 2px solid var(--primary);
    border-radius: 10px;
    margin-top: 94px; 
    display: flex;
   justify-content: center;
   align-items: center;
}
.more_Accessories h3{
    font-size: 30px;
    font-weight: 700;
    color: var(--primary);
    font-family: var(--ubuntu);
}
/* ----Accessories------part-----end------ */