/* -----fonts family link--- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
}
h1,h2,h3,h4,h5,h6 p, ol, ul{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
}
:root{
    --ubuntu: "Ubuntu", sans-serif;
    --primary: #42454A;
}
/* ---common head css start----- */
.common_head{
    text-align: center;
}
.common_head h2{
    font-size: 50px;
    font-weight: 700;
    color: var(--primary);
    font-family: var(--ubuntu);
    margin-bottom: 34px;
}
.common_head p{
    font-size: 20px;
    font-weight: 400;
    color: var(--primary);
    font-family: var(--ubuntu);
}
/* ---common head css end----- */
/* ------navber part css start------- */
.main_manu{
    padding: 26px 0px;
    border-bottom: 1px solid #EAE8F3;
    text-transform: uppercase;
}
.main_manu img{
    width: 70px;
} 
.main_manu .main_ul{
    gap: 76px;
}
.main_manu .main_ul li{
    position: relative;
    height: 21px;
}
.main_manu .main_ul li a{
    font-size: 14px;
    font-weight: 400;
    font-family: var(--ubuntu);
    color: var(--primary) !important;
    padding: 0 !important;
}
.main_manu .manu_bottons {
    display: flex;
    gap: 24px;
}
.manu_bottons a{
     height: 48px;
     display: flex;
     justify-content: center;
     align-items: center; 
     border-radius: 4px;
     box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
     transition: .3s all linear;
}
.manu_bottons a:nth-child(2){
    width: 102px;
    color: #fff;
    background-color: var(--primary);
}
.manu_bottons a:nth-child(1){
    width: 106px; 
    color: var(--primary);
    background-color: #fff;
}
.manu_bottons a:nth-child(2):hover{
    color: var(--primary);
    background-color: #fff;
}
.manu_bottons a:nth-child(1):hover{
    color: #fff;
    background-color: var(--primary);
}
.main_manu .main_ul li::before{
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--primary);
    position: absolute;
    left: 0;
    top: 20px;
    transition: .3s all linear;
}
.main_manu .main_ul li:hover::before{
    width: 100%;
}
.main_manu .main_ul .fit_before:hover::before{
    width: 62%;
}
.main_manu .main_ul li ul{
    margin-top: 6px;
    border-radius: 8px;
    gap: 10px;
    padding: 15px;
    background-color: var(--primary);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    visibility: hidden;
    transition: .2s all linear;
}
.main_manu .main_ul li ul li a{
    color: #fff !important;
}
.main_manu .main_ul li:hover ul{
    visibility: visible;
}
.main_manu .main_ul li ul li a::before{
    background-color: #fff;
}
/* ------navber part css end------- */
/* ------banner  part css start------- */
.banner_text h1{ 
    font-size: 90px;
    font-weight: 300;
    color: var(--primary);
    line-height: 95px;
    letter-spacing: 1%;
    text-transform: uppercase;
}
.banner_text h1 span{
    font-weight: 700;
    font-family: var(--ubuntu);
    display: block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid;
    animation: type 1.7s steps(90) .4s normal both, cursor 1s step-end infinite;
    position: relative;
}

@keyframes type {
    from {
        width: 0;
    }
    
    to {
        width: 52%;
    }
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}
#banner{
    padding-top: 84px;
    position: relative;
}
.banner_text .text_line{
    width: 335px;
    height: 4px;
    background-color: var(--primary);
    margin-top: 93px;
    margin-bottom: 62px;
}
.banner_text p{
    width: 353px;
    font-size: 22px;
    font-weight: 400;
    font-family: var(--ubuntu);
    color: var(--primary);
    line-height: 34px;
    letter-spacing: 1%;
    margin-bottom: 44px;
}
.banner_bttons{
    display: flex;
    gap: 50px;
    align-items: center;
}
.banner_bttons .bye_btn{
    display: flex;
    align-items: center;
    gap: 21px;
    font-size: 20px;
    font-weight: 500;
    font-family: var(--ubuntu);
    color: #17181A;
    line-height: 32px;
    letter-spacing: 2%;
}
.banner_bttons .bye_btn span{
    width: 58px;
    height: 58px;
    font-size: 16px;
    font-weight: 100;
    display: flex;
    padding-left: 20px;
    align-items: center;
    color: #F7EAE3;
    background-color: #42454a47;
}
 .banner_bttons .play{
    width: 80px;
    animation: rotate 2s linear infinite;
 }
 .banner_bttons .vidio_open{
    width: 87px;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 1%;
    color: #414449;
    font-family: var(--ubuntu);
 }

 @keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
    #banner .banner_img{
    width: 856px;
    position: absolute;
    top: 31px;
    right: 0;
 }
  #banner .responsive_baner_img{
     display: none;
  }

/* ------banner  part css end------- */
 /* <!-- -----counter---part--- css ---start----- */
#count_up{
    padding-top: 209px;
}
 .all_counters{
    display: flex;
    justify-content: center;
}
 .all_counters .single_counter{
    width: 174px;
    height: 137px;
    border: 7px;
    display: flex;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
   flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
}
.single_counter h2{
    font-size: 18px;
    font-weight: 700;
    font-family: var(--ubuntu);
    color: var(--primary);
}
.single_counter span{
    font-size: 40px;
}
.single_counter p{
    font-size: 13px;
    font-weight: 400;
    font-family: var(--ubuntu);
    color: var(--primary);
}
 /* <!-- -----counter---part--- css ---end----- */
 /* <!-- --------product----info------part-----start------ */
 #product_ifo{
    padding-top: 127px;
    padding-bottom: 121px;
    position: relative;
 }
#product_ifo .product_ditels{
    margin-top: 143px;
    display: flex;
    justify-content: flex-end;
}
.product_ditels ul li{
    display: flex;
    gap: 18px;
    align-items: center;
    margin-bottom: 34px;
}
.product_ditels ul li:nth-child(6){
    margin-bottom: 0;
}
.product_ditels ul li img{
    width: 49px;
}
.product_ditels ul li p{
    font-size: 20px;
    font-weight: 400;
    font-family: var(--ubuntu);
    color: var(--primary);
}
#product_ifo .responsiv_info_img{
   display: none;
}
#product_ifo .product_info_img{
    position: absolute;
    top: 270px;
    left: 0;
}
/* ----product---info-------part-----end------ */
#motor{
    padding-top: 100px;
}
#motor .motor_img{
    margin-top: 49px;
}
 /* --------motor-------part-----end------ */
/* ----Accessories---info-------part-----start------ */
#Accessories{
    padding-top: 295px;
    position: relative;
}
#Accessories .Accessories_row{
    margin-top: 120px;
    align-items: center;
}
.common_list h2{
    margin-bottom: 33px;
    display:block;
    font-size: 50px;
    font-weight: 700;
    color: var(--primary);
    font-family: var(--ubuntu);
}
.common_list ul li{
    display: flex;
    gap: 18px;
    align-items: center;
    margin-bottom: 33px;
}
.common_list ul li img{
    width: 49px;
}
.common_list ul li p{
    font-size: 20px;
    font-weight: 400;
    font-family: var(--ubuntu);
    color: var(--primary);
}
.common_list ul li:nth-child(4){
    margin-bottom: 0;
}
.rack_list{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 129px;
}
#Accessories .sopping_rack_img{
    width: 779px;
    position: absolute;
    top: 1128px;
    left: 0;
}
.more_Accessories{
    width: 570px;
    height: 94px;
    margin: 0 auto;
    border: 2px solid var(--primary);
    border-radius: 10px;
    margin-top: 94px; 
    display: flex;
   justify-content: center;
   align-items: center;
}
.more_Accessories h3{
    font-size: 30px;
    font-weight: 700;
    color: var(--primary);
    font-family: var(--ubuntu);
}
/* ----Accessories------part-----end------ */
/* - -------Gallery-----parft start--------- */
#gallery{
    padding-top: 121px;
    padding-bottom: 128px;
}
#gallery .gallery_col_1{
    margin-top: 302px;
}
#gallery .gallery_img{
    width: 633px;
}
.gallery_col_1 .gallery_img_1{
    margin-bottom: 55px;
}
.gallery_col_1 .gallery_buttons{
    display: flex;
    flex-direction: column;
    gap: 27px;
}
.gallery_col_1 .gallery_buttons a{
    width: 570px;
    height: 94px;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 700;
    font-family: var(--ubuntu);
    color: var(--primary);
    border: 2px solid var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear .3s;
}
.gallery_col_1 .gallery_buttons a:hover{
    background-color: var(--primary);
    color: #FBFBFB;
   box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
#gallery .gallery_col_2{
    margin-top: 112px;
}
.gallery_col_2 .gallery_img_2{
    margin-bottom: 96px;
}
 /* -------------Gallery-----parft end----------  */
 /* -----colors-------parft start-------- */
 #colors{
    padding-bottom: 366px;
 }
 .my_slider{
    margin-top: 152px;
    position: relative;
}
.my_slider .slider-nav{
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    bottom: -200px;
}
.my_slider .slider-nav .single_slid_nav_item img{
    width: 245px;
}
/* -----colors-------parft------end-------- */
/* -----Testimonials-------parft----start------ */
#Testimonials{
    padding-top: 78px;
    padding-bottom: 167px;
    background-color: #FAFAFA;
}
/* ---slider_2--- */
.my_slider_2{
    position: relative;
}
.my_slider_2 .slider_items .single_slider_item{
    width: 360px;
    height: 366px;
    border: 1px solid #D8D8D8;
    padding-top: 52px;
    padding-bottom: 54px;
    transition: all linear .2s;
}
.slider_items .single_slider_item ul{
    display: flex;
    justify-content: center;
}
.slider_items .single_slider_item ul li i{
   color: #FE8B75;
}
.slider_items .single_slider_item h2{
    width: 304px;
    height: 140px;
    font-size: 20px;
    font-weight: 400;
    font-family: var(--ubuntu);
    color: var(--primary);
    text-align: center;
    margin: auto;
    margin-top: 12px;
    margin-bottom: 47px;
}
.slider_items .single_slider_item .item_3{
    width: 291px;
}
.rivew_profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.rivew_profile .reviwe_img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
}
.rivew_profile .profile_text p{
      font-size: 16px;
    font-weight: 400;
    font-family: var(--ubuntu);
    color: var(--primary);
    margin: 0;
}
.rivew_profile .profile_text p:nth-child(2){
    font-size: 14px;
}
.slider_items .single_slider_item:hover{
    border: 1px solid #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.arrow1, .arrow2{
   width: 42px;
   height: 42px;
   border-radius: 50%;
   border: 1px solid var(--primary);
   background-color: #fff;
   color: var(--primary);
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   bottom: -85px;
   transform: translatex(-50%);
   transition: all linear .2s;
}
.arrow1{
    left: 46%;
}
.arrow2{
    right: 46%;
} .arrow1:hover{
    color: #fff;
    background-color: var(--primary);
}
.arrow2:hover{
    color: #fff;
    background-color: var(--primary);
}
 /* -----Testimonials-------parft---end----- */
 /* ---Subscribe To Newsletter-----parft start--- */
 #subscribe{
    padding-top: 121px;
    padding-bottom: 128px;
 }
 #subscribe .email_button{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 59px;
 }
 .email_button input{
    width: 400px;
    height: 81px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    font-family: var(--ubuntu);
    padding-left: 38px;
    background-color: #F5F5F5;
    color: var(--primary);
 }
 .email_button a{
    width: 196px;
    height: 81px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    font-family: var(--ubuntu);
    background-color: var(--primary);
    color: #FBFBFB;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s all linear;
 }
 .email_button a:hover{
    background-color: #F5F5F5;
    border: 1px solid var(--primary);
    color: var(--primary);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }
 /* --Subscribe To Newsletter--part end- */
 /* ------footer--part star */
 footer{
    padding-top: 99px;
    padding-bottom: 124px;
    background-color: var(--primary);
    position: relative;
 }
 footer .footer_row{
    display: flex;
    gap: 105px;
    justify-content: end;
 }
 .footer_row .footer_col h3{
    font-size: 22px;
    font-weight: 700;
    font-family: var(--ubuntu);
    color: #FBFBFB;
    margin-bottom: 35px;
 }
 .footer_row .footer_col ul li a{
    font-size: 16px;
    font-weight: 400;
    font-family: var(--ubuntu);
    color: #FBFBFB;
    line-height: 54px;
 }
 .footer_col .footer_icons{
    display: flex;
    gap: 16px;
    margin-top: 23px;
 }
.footer_col .footer_icons i{
    font-size: 16px;
    width: 31px;
    height: 32px;
    border-radius: 50%;
    background-color: #FAFAFC;
    color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .footer_img{
    width: 618px; 
    position: absolute;
    left: 0;
    bottom: 40px;
}
footer p{
    font-size: 16px;
    font-weight: 400;
    color: #FBFBFB;
    font-family: "Poppins", sans-serif;
    position: absolute;
   left: 50%;
   transform: translatex(-50%);
   bottom: 0;
   margin-bottom: 0 !important;
}
.responsiv_footerimg{
    display: none;
}
 /* ------footer--part end---- */